#modal-info h5
	margin-top: 25px

table tr:first-child td
	border-top: none
	

.color-node-uplink
	color: $color_node_uplink
	
.color-node-gwq-good
	color: $color_node_gwq_good
	
.color-node-gwq-average
	color: $color_node_gwq_average
	
.color-node-gwq-bad
	color: $color_node_gwq_bad


.color-node-clients-good
	color: $color_node_clients_good 
	
.color-node-clients-average
	color: $color_node_clients_average
	
.color-node-clients-bad
	color: $color_node_clients_bad
	
	
.color-node-new
	color: $color_node_new


.color-node-lost-1
	color: $color_node_lost_1
	
.color-node-lost-2
	color: $color_node_lost_2
	
.color-node-lost-3
	color: $color_node_lost_3
	
.color-node-lost-4
	color: $color_node_lost_4