.popover-content 

	p
		font-size: 10px
		line-height: 14px
		white-space: nowrap
		margin-bottom: 5px
	
	.details-trigger:hover
		color: $color_a_hover
		cursor: pointer
		

#target-stats

	th 
		border-top: none
		
.container-highcharts
	margin-bottom: 20px