// Open Layers 3

.ol-zoom
	position: absolute
	top: auto
	right: 35px
	bottom: 40px
	left: auto
	
.ol-attribution
	position: absolute
	top: auto
	right: 35px
	bottom: 10px
	left: auto
	
@media (max-width: 540px)

	.ol-zoom
		bottom: 10px
		
	.ol-attribution
		display: none
		
	