// Farben
$color_nav_background = rgba(255, 255, 255, 0.95)
$color_active_background = #FFE4E1;

$color_h1 = #000000
$color_h2 = #666666

$color_a_hover = #009EE0 // Freifunk Blau
$color_trigger_hover = #E0FFFF
$color_trigger_area_hover = #E0FFFF

$color_trigger_border = #666666

$color_text_info = #C0C0C0

// Schatten
$shadow_boxes = 0 1px 5px rgba(0, 0, 0, 0.35)


// Knoten
$color_node_uplink = rgba(128, 255, 0, 1)
$color_node_gwq_good = rgba(153, 204, 0, 1)
$color_node_gwq_average = rgba(255, 215, 0, 1)
$color_node_gwq_bad = rgba(210, 105, 30, 1)

$color_node_clients_good = #808000
$color_node_clients_average = #FFA500
$color_node_clients_bad = #DC143C

$color_node_new = rgba(0, 191, 255, 1)

$color_node_lost_1 = rgba(255, 0, 0, 0.8)
$color_node_lost_2 = rgba(255, 131, 250, 0.8)
$color_node_lost_3 = rgba(255, 131, 250, 0.5)
$color_node_lost_4 = rgba(255, 131, 250, 0.3)